<div class="flex shadow-md my-10">
  <div class="bg-white px-10 py-10 w-full">
    <div class="flex justify-between border-b pb-8">
      <h1 class="font-semibold text-2xl">Tickets</h1>
      <h2 class="font-semibold text-2xl">3 Items</h2>
    </div>
    <div class="flex mt-10 mb-5">
      <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Ticket Details</h3>
      <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Available Ticket</h3>
    </div>
    <%= render 'tickets', tickets: @tickets %>
  </div>
</div>
